body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    
}


/*--/contact--*/
.contact_grid_right{
	padding-top:4em;
}


.address-grid i {
    font-size: 1.7em;
    color: #ff4e00;
}

.contact_grid_right {
    width: 200%;
}
p.sub {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8em;
}
.contact_left_grid label {
    color: #313233;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85em;
    font-weight: 500;
    
}
.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f7f7f7;
    width: 100%;
    letter-spacing: 1px;
	border: 1px solid #ebeeef;
}
.contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    resize: none;
}

.contact_grid_right input[type="submit"] {
	outline: none;
  padding: 20px 0;
  margin-top: 150px;
  font-size: 14px;
  color: #fff;
  background: #ff4e00;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
	font-weight:600;
	cursor: pointer;
    
}


.contact_grid_right input[type="submit"]:hover {
    background: #ffffff;
    color: #ff4e00;
    border: 3px solid #ff4e00;
}

.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact-left p {
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text a {
    color: #888;
}

.contact-text a:hover {
    color: #fb383b;
}

.contact_grid_right h6,
.contact-left h6 {
    font-size: 1.2em;
    color: #292b2c;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
}
.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 350px;
    border: 10px solid #ebeeef;
}
.ad-inf-sec {
	padding:4em 0;
}
.address-right a {
    color: #083940;
}
.address-right p {
    color: #2a8490;
}
.address-info {
    background: #f7f7f7;
    border: 1px solid #ebeeef;
    padding: 3em 1em;
}
/*-- //contact--*/

/*--responsive--*/

@media(max-width:1080px) {
	.input {
		max-width: 309px;
		width: calc(100% - 0em);
		vertical-align: top;
		float: left;
	}
}

@media(max-width:991px) {
	.contact_grids_info {
		padding: 0;
		margin-top: 1em;
	}
	.input {
		max-width: 100%;
	}
	.map iframe {
		width: 100%;
		min-height: 303px;
    }
    .address-grid:nth-child(2) {
        margin: 1.5em 0;
    }
    .address.row {
        margin: 0;
    }
}
@media(max-width:767px) {
    .address-right.text-left {
        text-align: center!important;
        margin-top: 1em;
    }
}
@media(max-width:640px) {
	.mail_form input[type="submit"] {
		width: 40%;
	}
	.mail_form textarea {
		padding: .9em 0.9em;
		margin: 1.3em 0;
		min-height: 140px;
    }
    .contact-map iframe {
        width: 100%;
        height: 250px;
    }
  
}

@media(max-width:600px) {
	.map iframe {
		width: 100%;
		min-height: 250px;
    }
    .contact_grid_right {
        padding-top:3em;
    }
}

@media(max-width:440px) {
    .contact_grid_right {
        padding-top:2em;
    }
}

/*--//responsive--*/


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    border-top: 3px solid #ff4e00;
    border-bottom: 3px solid #ff4e00;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #ff4e00;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #ff4e00;
    color: #fff;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #ff4e00;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    border-top: 3px solid #ff4e00;
    border-bottom: 3px solid #ff4e00;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact .php-email-form label {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #ff4e00;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #ff4e00;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #209dd8;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }